*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*classi riutilizzabili*/

.bg-blue{
  background-color: lightskyblue;
}

.bg-green{
  background-color: lightgreen;
}

/*contenitore*/

.contenitore{
  height: 100vh;
  width: 100%;
  background-color: red;
}

/*main*/

.main{
  height: calc(100% - 60px);
}

.main:after{
  content: '';
  display: table;
  clear: both;
}

/*box*/

.box{
  height: 100%;
  width: 200px;
}

.box:last-child{
  width: calc(100% - 200px);
}

.sx,
.dx{
  float: left;
}

/*box dx*/

.header-upgrade{
  height: 80px;
  width: 100%;
  background-color: lightslategray;
  position: fixed;
  text-align: right;
}

.main-contenuti{
  margin-top: 80px;
  height: calc(100% - 80px);
  width: 100%;
  overflow-y: auto;
  margin-bottom: 60px;
}

/*box sx*/

.sx{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-box-sx{
  min-height: 150px;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

#logo{
  font-size: 50px;
}

span.icon{
  font-size: 30px;
  padding: 5px;
}

/*footer*/

.footer{
  height: 60px;
  background-color: lightgray;
  z-index: 1;
  width: 100%;
  left: 0;
  bottom: 0;
}

/*media screen smartphone*/

@media screen and (max-width: 590px) {

  .box:first-child{
    width: 50px;
  }

  .box:last-child{
    width: calc(100% - 50px);
  }

  .main-box-sx{
    display: none;
  }

  .header-box-sx span.descrizione-logo{
    display: none;
  }

  #logo{
    font-size: 30px;
    padding: 5px;
  }

  span.icon{
    text-align: center;
    display: block;
  }
}